# Supabase API Keys (Plantilla)

# URL de tu base de datos Supabase
SUPABASE_URL="https://tu-proyecto.supabase.co/rest/v1/"

# Llave pública anónima (Usada en el frontend para conectarse)
SUPABASE_ANON_KEY="tu-llave-anonima-aqui"
